body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin:20px;
    background-color: hsl(296, 100%, 97%);
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    min-height: 100vh;
}
.profile{
    width:120px;
    height: 120px;

}
h1,h2{
    font-size: 24px;
}

.profile-card{
    width:400px;
    display: flex;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
    padding:20px;
    text-align:center;
    align-items: center;
    margin: 0 auto;
    background-color: #ddebf8;
    justify-content: space-around;
    border-bottom: 6px solid #d8cefe;
}
.border-blue{
    border: 2px dotted blue;
}